*.class
*.iml
*.ipr
*.iws
*.idea
*.swp
*.tags
*.DS_Store
*.~
*.o
/local.properties
target/
*lib_managed
*src_managed
project/boot
project/plugins/project
build
published
generated
generatedCache
nightlies
*.deg
*.debug
*.pgm
*.pyc
benchmark/times
test-out/*/*-log
test-out/*/*-skel
test-out/*/*-src
profiler/less
