[submodule "virtualization-lms-core"]
	path = virtualization-lms-core
	url = https://github.com/TiarkRompf/virtualization-lms-core.git
[submodule "delite"]
	path = delite
	url = https://github.com/stanford-ppl/Delite.git
[submodule "forge"]
	path = forge
	url = https://github.com/stanford-ppl/Forge.git
